{% extends './seller_main.html' %}
{% load static %}
{% block content %}
<h1>seller home</h1>
<!-- <img src="{{img.url}}" height="50px" width="50px"> -->
{{sname}}
<div class="row">
{% for product in products %}

    <div class="col-3">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.product_name}}</h5>
      <p class="card-text">{{product.product_des}}</p>
      <p class="card-text">{{product.price}}</p>
      
    </div>
  </div>
</div>

  {% endfor %}
</div>



{% endblock content %}
